@import url(//db.onlinewebfonts.com/c/9c6548c5500714092f1d1e2f7e3c58cc?family=Verlag);

body {
  margin: 0;
  font-family: Verlag, Helvetical, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
